-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "SkillLevel" AS ENUM ('BEGINNER', 'INTERMEDIATE', 'ADVANCED');

-- CreateEnum
CREATE TYPE "GameStatus" AS ENUM ('DRAFT', 'OPEN', 'FULL', 'CANCELLED', 'COMPLETED');

-- CreateEnum
CREATE TYPE "ParticipationStatus" AS ENUM ('PENDING', 'ACCEPTED', 'REJECTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('JOIN_REQUEST', 'JOIN_CONFIRM', 'CANCELLATION', 'WITHDRAWAL', 'REMINDER');

-- CreateTable
CREATE TABLE "User" (
    "userID" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "User_pkey" PRIMARY KEY ("userID")
);

-- CreateTable
CREATE TABLE "EmailVerification" (
    "id" UUID NOT NULL,
    "userID" UUID NOT NULL,
    "otp" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),

    CONSTRAINT "EmailVerification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SportProfile" (
    "profileID" UUID NOT NULL,
    "userID" UUID NOT NULL,
    "sport" TEXT NOT NULL,
    "skillLevel" "SkillLevel" NOT NULL,

    CONSTRAINT "SportProfile_pkey" PRIMARY KEY ("profileID")
);

-- CreateTable
CREATE TABLE "Game" (
    "gameID" UUID NOT NULL,
    "creatorID" UUID NOT NULL,
    "sport" TEXT NOT NULL,
    "dateTime" TIMESTAMP(3) NOT NULL,
    "location" TEXT NOT NULL,
    "skillLevel" "SkillLevel" NOT NULL,
    "maxParticipants" INTEGER NOT NULL,
    "currentCount" INTEGER NOT NULL DEFAULT 0,
    "status" "GameStatus" NOT NULL DEFAULT 'DRAFT',

    CONSTRAINT "Game_pkey" PRIMARY KEY ("gameID")
);

-- CreateTable
CREATE TABLE "Participation" (
    "participationID" UUID NOT NULL,
    "userID" UUID NOT NULL,
    "gameID" UUID NOT NULL,
    "status" "ParticipationStatus" NOT NULL DEFAULT 'PENDING',
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Participation_pkey" PRIMARY KEY ("participationID")
);

-- CreateTable
CREATE TABLE "Notification" (
    "notifID" UUID NOT NULL,
    "recipientID" UUID NOT NULL,
    "type" "NotificationType" NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "relatedGameID" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("notifID")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "EmailVerification_userID_idx" ON "EmailVerification"("userID");

-- CreateIndex
CREATE INDEX "SportProfile_sport_idx" ON "SportProfile"("sport");

-- CreateIndex
CREATE UNIQUE INDEX "SportProfile_userID_sport_key" ON "SportProfile"("userID", "sport");

-- CreateIndex
CREATE INDEX "Game_creatorID_idx" ON "Game"("creatorID");

-- CreateIndex
CREATE INDEX "Game_sport_status_dateTime_idx" ON "Game"("sport", "status", "dateTime");

-- CreateIndex
CREATE INDEX "Participation_gameID_idx" ON "Participation"("gameID");

-- CreateIndex
CREATE UNIQUE INDEX "Participation_userID_gameID_key" ON "Participation"("userID", "gameID");

-- CreateIndex
CREATE INDEX "Notification_recipientID_isRead_idx" ON "Notification"("recipientID", "isRead");

-- CreateIndex
CREATE INDEX "Notification_relatedGameID_idx" ON "Notification"("relatedGameID");

-- AddForeignKey
ALTER TABLE "EmailVerification" ADD CONSTRAINT "EmailVerification_userID_fkey" FOREIGN KEY ("userID") REFERENCES "User"("userID") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SportProfile" ADD CONSTRAINT "SportProfile_userID_fkey" FOREIGN KEY ("userID") REFERENCES "User"("userID") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Game" ADD CONSTRAINT "Game_creatorID_fkey" FOREIGN KEY ("creatorID") REFERENCES "User"("userID") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Participation" ADD CONSTRAINT "Participation_userID_fkey" FOREIGN KEY ("userID") REFERENCES "User"("userID") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Participation" ADD CONSTRAINT "Participation_gameID_fkey" FOREIGN KEY ("gameID") REFERENCES "Game"("gameID") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_recipientID_fkey" FOREIGN KEY ("recipientID") REFERENCES "User"("userID") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_relatedGameID_fkey" FOREIGN KEY ("relatedGameID") REFERENCES "Game"("gameID") ON DELETE SET NULL ON UPDATE CASCADE;

